body {
    font-size: 1.6em;
}

div{
    margin: 20px auto 0;
}

form {
    margin: 20px auto 0;
    padding: 20px;
    display: flex;
    width: 20%;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    gap: 2px;
}

ul {
    border: 1px solid black;
    border-radius: 10px;
    gap: 2px;
    width: 40%;
    display: flexbox;
    flex-direction: column;
}
